# Entornos virtuales locales
venv/
.venv/
env/

# Archivos basura de compilación de LaTeX
*.log
*.aux
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Archivos del sistema y cachés
__pycache__/
*.pyc
.DS_Store
.vscode/

# Descomenta las siguientes líneas si tus gráficas se autogeneran al ejecutar el .ipynb
recursos/*.png